/* ::::: https://blastwave.blackpinguin.de/blastwave2.css ::::: */

body { background: rgb(32, 26, 24) none repeat scroll 0% 0%; }
* { color: rgb(197, 54, 50); font-size: 10pt; font-family: helvetica; }
*::-moz-selection { color: rgb(0, 0, 0); background-color: rgb(255, 0, 0); }
a { color: rgb(255, 255, 255); font-weight: bold; }
a::-moz-selection { color: rgb(0, 255, 0); }
.style-hell { background-color: rgb(102, 102, 102); color: rgb(0, 0, 0); }
.style-dunkel { background-color: rgb(51, 51, 51); color: rgb(255, 255, 255); }
#allcontainer { top: 5px; width: 720px; text-align: left; position: absolute; left: 50%; margin-left: -365px; }
#bannercontainer { position: absolute; top: 10px; left: 10px; width: 707px; height: 84px; margin: 2px; background: transparent url('header2.jpg') no-repeat scroll 0% 0%; }
#maincontainer { position: absolute; top: 100px; left: 10px; width: 550px; }
#content { position: absolute; left: 2px; width: 703px; background: rgb(50, 45, 43) none repeat scroll 0% 0%; padding: 2px; }
.impcont { width: 100%; padding-top: 5px; text-align: left; }
.impleft { width: 24%; padding-left: 5px; float: left; line-height: 22px; }
.impright { width: 73%; margin-left: 2px; padding-left: 5px; float: left; line-height: 22px; }
.clear { clear: both; }
.impcont span.warn { color: red; font-weight: bold; }
